#modal
    .modal-backdrop(style="bottom:0px;display:block").fade.in
    .modal(style="display:block;overflow:auto").fade.in
        .modal-dialog
            .modal-content
                = this.props.children