@import url(./bootstrap/css/bootstrap.min.css);
@import url(./react-widgets/css/react-widgets.css);

.navbar {
  height: 60px;
  border-radius: 0px;
  top: 0px;
}
.navbar-header {
  height: 59px;
}
.navbar-nav > li {
  height: 100%;
  margin-top: -1px;
}
.navbar-nav > li > a {
  padding: 0;
  line-height: 60px !important;
  padding-left: 5px;
  padding-right: 5px;
}
.navbar-nav > li.active > a {
  color: white !important;
  background-color: #6b8e00 !important;
}
.navbar img {
  height: 50px;
  margin-top: -12px;
}

.nav-tabs li {
  cursor: pointer;
}

.session {
  position: absolute;
  right: 10px;
  top: 0px;
}

@media (max-width: 768px) {
  .session {
    right: 75px;
  }
}

.container {
  position: relative;
}

.bs-navbar-collapse {
  background-color: #f8f8f8;
}

.searchbar {
  display: flex;
}
.searchbar > div {
}

@media print {
  .btn {
    display: none;
  }
  input,
  .rw-datetimepicker {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    transition: none !important;
    padding-left: 0px !important;
  }
  .rw-select {
    display: none;
  }
}
.notifications {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  text-align: right;
}
.notification-enter {
  max-height: 0 !important;
  opacity: 0.01;
  transform: translateX(-25%);
  transition: 500ms ease-in;
}
.notification-enter.notification-enter-active {
  max-height: 20em !important;
  transform: translateX(0);
  opacity: 1;
}
.notification-leave {
  max-height: 20em !important;
  transition: 300ms ease-in;
  transform: translateX(0);
  opacity: 1;
}
.notification-leave.notification-leave-active {
  max-height: 0 !important;
  transform: translateX(25%);
  opacity: 0.01;
}
